<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
  xmlns:gap="http://phonegap.com/ns/1.0"
  id="Imagem"	version="1.0.0">

	<name>Imagem</name>

	<description>
		Parâmetros para Exames de Imagem.
	</description>

	<author href="" email="tavola@hotmail.com">

	</author>

</widget>
